<div class="row" style="display:block;">

<% @mods.each do |m| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/300x200.png" alt="...">
      <div class="caption" style="text-align:center;">
        <h3><%= m.name %></h3>
        <p><%= m.description %></p>
        <p><%= link_to 'Commencer le module', m, {class: 'btn btn-primary'} %></p>
      </div>
    </div>
  </div>
<% end %>

</div>