
<div class="row span4 offset4 module-card" style="display:none;">
		<%= @mod.name %>
</div>

<div class="row span10 offset1">

	  <div class="well sidebar-nav">
	    <ul class="nav nav-list">
	      <li class="nav-header"></li>

			<% @units.each do |unit| %>
			      <h1 class="unit-name"><%= unit.name %></h1>
			      <% unit.courses.each do |course| %>
					<li class="course-name"><%= link_to course.name, course_path(course)  %></li>
			      <% end %>
			<% end %>

	    </ul>
	  </div><!--/.well -->
  
 </div>
